.rc-slider,
.rc-slider-vertical {
  width: 100% !important;
  padding: 0 !important;
}

.rc-slider-rail {
  background-color: #cccccc !important;
  width: 100% !important;
  height: calc(100% + 16px) !important;
  margin-top: -16px !important;
}

.rc-slider-track {
  background-color: #57b8e6 !important;
  width: 100% !important;
  left: 0px !important;
}

.rc-slider-handle {
  background-color: white !important;
  border: 2px solid #DDDDDD !important;
  left: 3;
  width: 128% !important;
  height: 20px !important;
  margin-bottom: 8px;
  z-index: 100;
}

.rc.slider-handle:hover {
  border-color: #DDDDDD !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #a1e1ff;
  box-shadow: 0 0 0 3px #a1e1ff !important;
}